/* Estilos globais para resetar margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; /* Defina o tamanho da fonte base para 100% de zoom */
}

/* Estilize o corpo do documento */
body {
    background-color: #269eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilize o bloco principal */
.bloco {
    margin: 20px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o botão "Voltar" */
#botaoHome {
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Estilos para o contêiner */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Estilize rótulos, entradas e seleções de formulário */
.required, .seletorSexo {
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    background-color: white;
}

/* Estilos para botões */
button {
    background-color: #1e79b6;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #4988b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .bloco {
        margin: 10px;
    }

    .container {
        padding: 10px;
    }

    /* Colocar apenas dois itens por linha no formulário em telas menores */
    form {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }
}
